################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/XML-to-Tabbed-Datagridview-example/v16
/.vs/XML_to_TDE/v16
/.vs
/XML to Tabbed Datagridview example/bin/Debug
/XML to Tabbed Datagridview example/obj
